<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400,600,700&display=swap');
        </style>   
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH News</title>
</head>
<body>
    <h1>DH News</h1>
    <h3>Postado em 25 de Julho de 2022</h3>
    <p>Mussum Ipsum, cacilds vidis litro abertis. <strong>vale um bebadis conhecidiss, </strong> que um alcoolatra anonimis.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
    Quem num gosta di mim que vai caçá sua turmis!Quem num gosta di mé, boa gentis num é.</p>
    <img class="destaque" src="../public/img/destaque.webp" alt="pessoas trabalhando">
    <h2> vale um bebadis conhecidiss,</h2>
<section>
    <p>lcoolatra anonimis.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
    Quem num gosta di mim que vai caçá sua turmis!Quem nu</p>
    <ol id="lista">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
</section>


<section>
    <h2>mnussim ipsuum'</h2>
    <p>lcoolatra anonimis.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
    <p>lcoolatra anonimis.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
    <p>lcoolatra anonimis.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
</section>
<footer>
    <hr>
    <ul>
        <li>
            <a href="https://facebook.com">
                <img src="../public/img/facebook.svg" alt="facebook">
            </a>
        </li>
        <li>
            <a href="https://instagram.com">
                <img src="../public/img/instagram.svg" alt="instagram">
            </a>
        </li>
        <li>
            <a href="https://linkedin.com">
                <img src="../public/img/linkedin.svg" alt="linkedin">
            </a>
        </li>
        <li>
            <a href="https://youtube.com">
                <img src="../public/img/youtube.svg" alt="youtube">
            </a>
        </li>
    </ul>
</footer>


</body>
</html>